extends ../layouts/default

block head
  title T1Pal

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 #{projectName} with Nightscout
    p.lead
      | T1Pal is a completely turnkey solution for individuals looking to run the nightscout remote monitoring system.
      div
        a.btn.btn-info.btn-lg(href='/getting-started/starting/home') Get started
        |  or&nbsp;
        a.btn.btn-primary.btn-lg(href='/login/') Login
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About T1DPal
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Sign Up
          p Please remember that this service is in a testing phase.
          a.btn.btn-default.btn-block(href='/signup/') Help the Testing
